# Enviroment
myenv/
.gitignore
#Lib
.chainlit/
__pycache__/
Src/__pycache__

#Folder
TEST/
GenerateData/
Presentation/
Results/
Temp/
Demo/

#Temp file
chainlit.md
tempCodeRunnerFile.py

#Folder store
vectorstore
Result/
#File test
test.py
new_requirements.txt

# of Nam
.ipynb_checkpoints/
*.json
*.txt
*.ipynb
.ruff_cache/
.env
.gradio/
