# Enviroment
myenv/
Forms/
.gitignore
#Lib
.chainlit/
__pycache__/
Src/__pycache__

#Folder
TEST/
GenerateData/
Src/Get_tagname_and_evaluate
Presentation/
Forms/
# Result/

#Temp file
chainlit.md
tempCodeRunnerFile.py

#Folder store
vectorstore
Result/
#File test
test.py
new_requirements.txt